*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------ button effect start------------  */

/* -------neon button effect start--------- */
body>div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #031321;
    border-bottom: 2px solid #fff;
}
a{
    margin-right: 20px;
}


/*---------- neon line ---------*/

.btn_neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 25px;
    overflow: hidden;
    transition: 0.2;
}
.btn_neon:hover{
    transition: 0.5s;
    transition-delay: 1s;
}
.btn_neon span{
    position: absolute;
    display: block;
}
.btn_neon span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
}

.btn_neon:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
.btn_neon span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
}

.btn_neon:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.btn_neon span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
}

.btn_neon:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.btn_neon span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
}

.btn_neon:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/* ----------------- buttons colors ---------------- */

/* ------------red color---------- */
.btn_neon_red{
    color: #FF0000;

}

.btn_neon_red:hover{
    color: #620404;
    background: #FF0000;
    box-shadow: 0 0 10px #FF0000,0 0 40px #FF0000,0 0 80px #FF0000;
}

.btn_neon_red span:nth-child(1){
    background-image: linear-gradient(90deg,transparent,#FF0000);
}

.btn_neon_red span:nth-child(3){
    background-image: linear-gradient(270deg,transparent,#FF0000);
}

.btn_neon_red span:nth-child(2){
    background-image: linear-gradient(180deg,transparent,#FF0000);
}

.btn_neon_red span:nth-child(4){
    background-image: linear-gradient(360deg,transparent,#FF0000);
}



/* -------------green color----------- */
.btn_neon_green{
    color: #0AFF0A;
}

.btn_neon_green:hover{
    color: #006600;
    background: #0AFF0A;
    box-shadow: 0 0 10px #0AFF0A,0 0 40px #0AFF0A,0 0 80px #0AFF0A;
}

.btn_neon_green span:nth-child(1){
    background-image: linear-gradient(90deg,transparent,#0AFF0A);
}

.btn_neon_green span:nth-child(3){
    background-image: linear-gradient(270deg,transparent,#9ef01a);
}

.btn_neon_green span:nth-child(2){
    background-image: linear-gradient(180deg,transparent,#9ef01a);
}

.btn_neon_green span:nth-child(4){
    background-image: linear-gradient(360deg,transparent,#9ef01a);
}



/* ------orange color-----*/
.btn_neon_orange{
    color: #FFA90A;
}

.btn_neon_orange:hover{
    color: #664200;
    background: #ffaa00;
    box-shadow: 0 0 10px #FFA90A,0 0 40px #FFA90A,0 0 80px #FFA90A;
}

.btn_neon_orange span:nth-child(1){
    background-image: linear-gradient(90deg,transparent,#FFA90A);
}

.btn_neon_orange span:nth-child(3){
    background-image: linear-gradient(270deg,transparent,#FFA90A);
}

.btn_neon_orange span:nth-child(2){
    background-image: linear-gradient(180deg,transparent,#FFA90A);
}

.btn_neon_orange span:nth-child(4){
    background-image: linear-gradient(360deg,transparent,#FFA90A);
}



/* ------------yellow color------------- */
.btn_neon_yellow{
    color: #FFFF0A;
}

.btn_neon_yellow:hover{
    color: #666600;
    background: #FFFF0A;
    box-shadow: 0 0 10px #FFFF0A,0 0 40px #FFFF0A,0 0 80px #FFFF0A;
}

.btn_neon_yellow span:nth-child(1){
    background-image: linear-gradient(90deg,transparent,#FFFF0A);
}

.btn_neon_yellow span:nth-child(3){
    background-image: linear-gradient(270deg,transparent,#FFFF0A);
}

.btn_neon_yellow span:nth-child(2){
    background-image: linear-gradient(180deg,transparent,#FFFF0A);
}

.btn_neon_yellow span:nth-child(4){
    background-image: linear-gradient(360deg,transparent,#FFFF0A);
}
/* -------neon buttons effect end--------- */






/* ----------button border effect start--------- */
.btn_border{
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 25px;
    transition: 0.5s;
}
/* border styel */
.btn_border span{
    display: block;
    position: absolute;
}
.btn_border span:nth-child(1){
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaley(0);
    transform-origin: top;
    transition: transform 0.5s;
}
.btn_border:hover span:nth-child(1){
    transform: scaley(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.btn_border span:nth-child(2){
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scalex(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.btn_border:hover span:nth-child(2){
    transform: scalex(1);
    transform-origin: left;
    transition: transform 0.5s;
}
.btn_border span:nth-child(3){
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaley(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
.btn_border:hover span:nth-child(3){
    transform: scale(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
.btn_border span:nth-child(4){
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scalex(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
.btn_border:hover span:nth-child(4){
    transform: scalex(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

/*--- border colors ---*/

/* red color */
.btn_border_red{
    color: #8F0000;
}
.btn_border_red:hover{
    color: #FF0000;
}
.btn_border_red span{
    background: #FF0000;
}

/* green color */
.btn_border_green{
    color: #008F00;
}
.btn_border_green:hover{
    color: #0AFF0A;
}
.btn_border_green span{
    background: #0AFF0A;
}

/* orange color */
.btn_border_orange{
    color: #8F5D00;
}
.btn_border_orange:hover{
    color: #FFA90A;
}
.btn_border_orange span{
    background: #FFA90A;
}

/* yellow color */
.btn_border_yellow{
    color: #8F8F00;
}
.btn_border_yellow:hover{
    color: #FFFF0A;
}
.btn_border_yellow span{
    background: #FFFF0A;
}
/* ----------button border effect end----------- */


/* --------glowing button effect start-------- */

.glwing_border{
    position: relative;
    width: 160px;
    height: 50px;
    padding: 15px 25px;
    line-height: 48px;
    background: #000 ;
    text-decoration: none;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}
.glwing_border::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #FF1F44,#1F1FFF,#1FFF1F,#FFFF1F,#FF1F1F,#FF1F44,#1F1FFF,#1FFF1F,#FFFF1F,#FF1F1F);
    background-size: 400%;
    opacity: 0;
    transition: 0.5s;
    animation: glow 20s linear infinite;
}
.glwing_border::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #FF1F44,#1F1FFF,#1FFF1F,#FFFF1F,#FF1F1F,#FF1F44,#1F1FFF,#1FFF1F,#FFFF1F,#FF1F1F);
    background-size: 400%;
    opacity: 0;
    filter: blur(20px);
    transition: 0.5s;
    animation: glow 20s linear infinite;
}
.glwing_border:hover::before,
.glwing_border:hover::after{
    opacity: 1;
}
@keyframes glow {
    0%{
       background-position: 0 0; 
    }
    50%{
        background-position: 300% 0; 
     }
     100%{
        background-position: 0 0; 
     }
}
.glwing_border span{
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    text-align: center;
    background: #0c0c0c;
    color: rgba(255,255,255,0.2);
    transition: 0.5s;
    z-index: 1;
}
.glwing_border:hover span{
    color: rgba(255,255,255,1);
}
.glwing_border span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255,255,255,0.1);
}

/* --------glowing button effect end-------- */

/* -------animat button border effect start------- */

.animat_border{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
}
.animat_border::before{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: #111;
    transition: 0.5s ease-in-out;
    transform: scaley(1);
    transition-delay: 0.5s;
}
.animat_border:hover::before{
    transform: scaley(0);
}
.animat_border::after{
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: #111;
    transition: 0.5s ease-in-out;
    transform: scalex(1);
}
.animat_border:hover::after{
    transform: scalex(0);
}
.animat_border span{
    position: relative;
    z-index: 3;
}

/* --animated border colors-- */
/* red color */
.animat_border_red{
    border: 2px solid #FF0000;
    color: #FF0000;
}
/* green color */
.animat_border_green{
    border: 2px solid #0AFF0A;
    color: #0AFF0A;
}
/* orange color */
.animat_border_orange{
    border: 2px solid #FFA90A;
    color: #FFA90A;
}
/* yellow color */
.animat_border_yellow{
    border: 2px solid #FFFF0A;
    color: #FFFF0A;
}
/* -------animat button border effect end------- */
/* ------------buttons effect end------------  */